# Exploring National Data Demand & Generation

In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import os
import glob

import statsmodels.api as sm
from scipy import stats
from scipy.stats import norm
import seaborn as sns

## Loading Demand Data

In [25]:
# for file in files:
os.chdir("/Users/jad/capstone/data")
demand_list=glob.glob("demand*")
demand_csv=[]

for file in demand_list:
    temp = pd.read_csv(file)
    demand_csv.append(temp)

df = pd.concat(demand_csv,ignore_index=True)

df

,SETTLEMENT_DATE,SETTLEMENT_PERIOD,ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,EMBEDDED_SOLAR_GENERATION,EMBEDDED_SOLAR_CAPACITY,NON_BM_STOR,PUMP_STORAGE_PUMPING,IFA_FLOW,IFA2_FLOW,BRITNED_FLOW,MOYLE_FLOW,EAST_WEST_FLOW,NEMO_FLOW,NSL_FLOW,ELECLINK_FLOW
0,01-JAN-2022,1,21940,23275,20513,2412,6527,0,13080,0,450,-181,-4,586,320,384,-100,210.0,0.0
1,01-JAN-2022,2,22427,23489,21021,2554,6527,0,13080,0,173,-181,-4,583,320,403,-104,176.0,0.0
2,01-JAN-2022,3,21896,23672,20619,2696,6527,0,13080,0,799,-164,-4,567,320,440,-4,-205.0,0.0
3,01-JAN-2022,4,20693,23272,19615,2838,6527,0,13080,0,1516,-170,-4,444,320,387,-6,-283.0,0.0
4,01-JAN-2022,5,19481,23958,18545,2977,6527,0,13080,0,1490,-753,-4,-383,320,476,-561,-686.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239609,31-DEC-2013,44,32108,33433,29054,1021,2434,0,3345,0,11,1990,0,1000,-230,-484,0,NaN,NaN
239610,31-DEC-2013,45,31101,32343,28062,1021,2434,0,3345,0,10,1990,0,1000,-227,-405,0,NaN,NaN
239611,31-DEC-2013,46,30609,31751,27505,983,2434,0,3345,0,17,1990,0,1000,-233,-292,0,NaN,NaN
239612,31-DEC-2013,47,29890,30944,26798,983,2434,0,3345,0,43,1990,0,1000,-163,-248,0,NaN,NaN
239613,31-DEC-2013,48,29552,31309,26535,1084,2434,0,3345,0,683,1990,0,1000,-161,-313,0,NaN,NaN

In [26]:
df.columns=[x.lower() for x in df.columns]

In [27]:
df["settlement_start_time"] = pd.to_datetime(df["settlement_period"]*30-30, unit="m").dt.time

In [28]:
df['settlement_date']=df['settlement_date'].astype(str) + " " + df["settlement_start_time"].astype(str)

In [36]:
df['settlement_date'] = pd.to_datetime(df['settlement_date']).dt.

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239614 entries, 0 to 239613
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   settlement_date            239614 non-null  datetime64[ns]
 1   settlement_period          239614 non-null  int64
 2   nd                         239614 non-null  int64
 3   tsd                        239614 non-null  int64
 4   england_wales_demand       239614 non-null  int64
 5   embedded_wind_generation   239614 non-null  int64
 6   embedded_wind_capacity     239614 non-null  int64
 7   embedded_solar_generation  239614 non-null  int64
 8   embedded_solar_capacity    239614 non-null  int64
 9   non_bm_stor                239614 non-null  int64
 10  pump_storage_pumping       239614 non-null  int64
 11  ifa_flow                   239614 non-null  int64
 12  ifa2_flow                  239614 non-null  int64
 13  britned_flow               239614 non-null  int64
 14  moyle_flow                 239614 non-null  int64
 15  east_west_flow             239614 non-null  int64
 16  nemo_flow                  239614 non-null  int64
 17  nsl_flow                   64318 non-null   float64
 18  eleclink_flow              64318 non-null   float64
 19  settlement_start_time      239614 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(16)
memory usage: 36.6 MB

In [42]:
df.head()

,settlement_date,settlement_period,nd,tsd,england_wales_demand,embedded_wind_generation,embedded_wind_capacity,embedded_solar_generation,embedded_solar_capacity,non_bm_stor,pump_storage_pumping,ifa_flow,ifa2_flow,britned_flow,moyle_flow,east_west_flow,nemo_flow,nsl_flow,eleclink_flow,settlement_start_time
0,2022-01-01 00:00:00,1,21940,23275,20513,2412,6527,0,13080,0,450,-181,-4,586,320,384,-100,210.0,0.0,1900-01-01 00:00:00
1,2022-01-01 00:30:00,2,22427,23489,21021,2554,6527,0,13080,0,173,-181,-4,583,320,403,-104,176.0,0.0,1900-01-01 00:30:00
2,2022-01-01 01:00:00,3,21896,23672,20619,2696,6527,0,13080,0,799,-164,-4,567,320,440,-4,-205.0,0.0,1900-01-01 01:00:00
3,2022-01-01 01:30:00,4,20693,23272,19615,2838,6527,0,13080,0,1516,-170,-4,444,320,387,-6,-283.0,0.0,1900-01-01 01:30:00
4,2022-01-01 02:00:00,5,19481,23958,18545,2977,6527,0,13080,0,1490,-753,-4,-383,320,476,-561,-686.0,0.0,1900-01-01 02:00:00

In [80]:
df = df.set_index(df["settlement_date"])

## Loading Energy Generation Mix Data

In [68]:
df1 = pd.read_csv("df_fuel_ckan.csv")
df1.head()

,DATETIME,GAS,COAL,NUCLEAR,WIND,HYDRO,IMPORTS,BIOMASS,OTHER,SOLAR,...,IMPORTS_perc,BIOMASS_perc,OTHER_perc,SOLAR_perc,STORAGE_perc,GENERATION_perc,LOW_CARBON_perc,ZERO_CARBON_perc,RENEWABLE_perc,FOSSIL_perc
0,2009-01-01 00:00:00+00:00,8432.0,15038.0,7097.0,263.0,246,2500.0,0.0,0.0,0.0,...,7.4,0.0,0.0,0.0,0.0,100.0,22.7,22.7,1.5,69.9
1,2009-01-01 00:30:00+00:00,8564.0,15099.0,7085.0,244.0,245,2478.0,0.0,0.0,0.0,...,7.4,0.0,0.0,0.0,0.0,100.0,22.5,22.5,1.4,70.2
2,2009-01-01 01:00:00+00:00,8535.0,15082.0,7072.0,224.0,246,2443.0,0.0,0.0,0.0,...,7.3,0.0,0.0,0.0,0.0,100.0,22.4,22.4,1.4,70.3
3,2009-01-01 01:30:00+00:00,8374.0,15008.0,7063.0,210.0,246,2416.0,0.0,0.0,0.0,...,7.3,0.0,0.0,0.0,0.0,100.0,22.6,22.6,1.4,70.2
4,2009-01-01 02:00:00+00:00,8341.0,14963.0,7051.0,195.0,246,2344.0,0.0,0.0,0.0,...,7.1,0.0,0.0,0.0,0.0,100.0,22.6,22.6,1.3,70.3

In [71]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240613 entries, 0 to 240612
Data columns (total 32 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   datetime          240613 non-null  object
 1   gas               240613 non-null  float64
 2   coal              240613 non-null  float64
 3   nuclear           240613 non-null  float64
 4   wind              240613 non-null  float64
 5   hydro             240613 non-null  int64
 6   imports           240613 non-null  float64
 7   biomass           240613 non-null  float64
 8   other             240613 non-null  float64
 9   solar             240613 non-null  float64
 10  storage           240613 non-null  int64
 11  generation        240613 non-null  float64
 12  carbon_intensity  240613 non-null  float64
 13  low_carbon        240613 non-null  float64
 14  zero_carbon       240613 non-null  float64
 15  renewable         240613 non-null  float64
 16  fossil            240613 non-null  float64
 17  gas_perc          240613 non-null  float64
 18  coal_perc         240613 non-null  float64
 19  nuclear_perc      240613 non-null  float64
 20  wind_perc         240613 non-null  float64
 21  hydro_perc        240613 non-null  float64
 22  imports_perc      240613 non-null  float64
 23  biomass_perc      240613 non-null  float64
 24  other_perc        240613 non-null  float64
 25  solar_perc        240613 non-null  float64
 26  storage_perc      240613 non-null  float64
 27  generation_perc   240613 non-null  float64
 28  low_carbon_perc   240613 non-null  float64
 29  zero_carbon_perc  240613 non-null  float64
 30  renewable_perc    240613 non-null  float64
 31  fossil_perc       240613 non-null  float64
dtypes: float64(29), int64(2), object(1)
memory usage: 58.7+ MB

### Change to Datetime & Set Index

In [70]:
df1.columns=[x.lower() for x in df1.columns]

In [74]:
df1["datetime"]=pd.to_datetime(df1["datetime"]).dt.tz_convert(None)

In [75]:
df1.head()

,datetime,gas,coal,nuclear,wind,hydro,imports,biomass,other,solar,...,imports_perc,biomass_perc,other_perc,solar_perc,storage_perc,generation_perc,low_carbon_perc,zero_carbon_perc,renewable_perc,fossil_perc
0,2009-01-01 00:00:00,8432.0,15038.0,7097.0,263.0,246,2500.0,0.0,0.0,0.0,...,7.4,0.0,0.0,0.0,0.0,100.0,22.7,22.7,1.5,69.9
1,2009-01-01 00:30:00,8564.0,15099.0,7085.0,244.0,245,2478.0,0.0,0.0,0.0,...,7.4,0.0,0.0,0.0,0.0,100.0,22.5,22.5,1.4,70.2
2,2009-01-01 01:00:00,8535.0,15082.0,7072.0,224.0,246,2443.0,0.0,0.0,0.0,...,7.3,0.0,0.0,0.0,0.0,100.0,22.4,22.4,1.4,70.3
3,2009-01-01 01:30:00,8374.0,15008.0,7063.0,210.0,246,2416.0,0.0,0.0,0.0,...,7.3,0.0,0.0,0.0,0.0,100.0,22.6,22.6,1.4,70.2
4,2009-01-01 02:00:00,8341.0,14963.0,7051.0,195.0,246,2344.0,0.0,0.0,0.0,...,7.1,0.0,0.0,0.0,0.0,100.0,22.6,22.6,1.3,70.3

In [76]:
df1 = df1.set_index(df1["datetime"])

In [78]:
df1.head()

,datetime,gas,coal,nuclear,wind,hydro,imports,biomass,other,solar,...,imports_perc,biomass_perc,other_perc,solar_perc,storage_perc,generation_perc,low_carbon_perc,zero_carbon_perc,renewable_perc,fossil_perc
datetime,,,,,,,,,,,,,,,,,,,,,
2009-01-01 00:00:00,2009-01-01 00:00:00,8432.0,15038.0,7097.0,263.0,246,2500.0,0.0,0.0,0.0,...,7.4,0.0,0.0,0.0,0.0,100.0,22.7,22.7,1.5,69.9
2009-01-01 00:30:00,2009-01-01 00:30:00,8564.0,15099.0,7085.0,244.0,245,2478.0,0.0,0.0,0.0,...,7.4,0.0,0.0,0.0,0.0,100.0,22.5,22.5,1.4,70.2
2009-01-01 01:00:00,2009-01-01 01:00:00,8535.0,15082.0,7072.0,224.0,246,2443.0,0.0,0.0,0.0,...,7.3,0.0,0.0,0.0,0.0,100.0,22.4,22.4,1.4,70.3
2009-01-01 01:30:00,2009-01-01 01:30:00,8374.0,15008.0,7063.0,210.0,246,2416.0,0.0,0.0,0.0,...,7.3,0.0,0.0,0.0,0.0,100.0,22.6,22.6,1.4,70.2
2009-01-01 02:00:00,2009-01-01 02:00:00,8341.0,14963.0,7051.0,195.0,246,2344.0,0.0,0.0,0.0,...,7.1,0.0,0.0,0.0,0.0,100.0,22.6,22.6,1.3,70.3

### Change to Datetime & Set Index

## Join Both Tables

In [ ]:
df= pd.concat([df,df1],axis=1,join='outer')
df

In [ ]:

# from bs4 import BeautifulSoup
# import urllib3

# http = urllib3.PoolManager()

# url = 'https://data.nationalgrideso.com/api/3/action/datastore_search?resource_id=bb44a1b5-75b1-4db2-8491-257f23385006'
# response = http.request('GET', url)
# soup = BeautifulSoup(response.data)

In [ ]:
# tables = pd.read_json(url)
# tables.shape

In [ ]:
# pd.DataFrame(tables['result'][4][0], index = list(range(len(tables['result'][4][0]))))

In [ ]:
# ! curl 'https://data.nationalgrideso.com/api/3/action/datastore_search?resource_id=bb44a1b5-75b1-4db2-8491-257f23385006&li'

## Editing DF Columns

### Drop redundant columns

In [ ]:

df = df[['SETTLEMENT_DATE', 'SETTLEMENT_PERIOD', 'ND',
       'ENGLAND_WALES_DEMAND', 'EMBEDDED_WIND_GENERATION',
       'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION',
       'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR', 'PUMP_STORAGE_PUMPING']]
df

### Making columns lowercase

In [ ]:

df.columns

df.columns=[x.lower() for x in df.columns]

### Make new column for years

In [ ]:
df["year"] = df["settlement_date"].dt.year

### Make new column for months

In [ ]:
df = df.reindex(columns = [ 'year','settlement_date','settlement_start_time', 'settlement_period', 'nd', 'england_wales_demand',
       'embedded_wind_generation', 'embedded_wind_capacity',
       'embedded_solar_generation', 'embedded_solar_capacity', 'non_bm_stor',
       'pump_storage_pumping'])
df.head()

In [ ]:
df["settlement_weekday"]= df["settlement_date"].dt.day_name()
df = df.reindex(columns = [ 'year','settlement_date',"settlement_weekday",'settlement_start_time', 'settlement_period', 'nd', 'england_wales_demand',
       'embedded_wind_generation', 'embedded_wind_capacity',
       'embedded_solar_generation', 'embedded_solar_capacity', 'non_bm_stor',
       'pump_storage_pumping'])
df.head(100)

In [ ]:
df["month"]= df["settlement_date"].dt.month
df = df.reindex(columns = [ 'year','month','settlement_date',"settlement_weekday",'settlement_start_time', 'settlement_period', 'nd', 'england_wales_demand',
       'embedded_wind_generation', 'embedded_wind_capacity',
       'embedded_solar_generation', 'embedded_solar_capacity', 'non_bm_stor',
       'pump_storage_pumping'])
df.head()

In [ ]:
df = df.rename(columns={"nd":"demand_national","england_wales_demand":"demand_england_whales"})

In [ ]:
df.head()

In [ ]:
#checking for missing data
sns.color_palette("tab10")
plt.plot(df.groupby(df["settlement_date"].dt.day)["year"].count())

In [ ]:
sns.color_palette("tab10")
grp = df.groupby(["month","year"])["demand_national"].sum()
# grp2 = grp.groupby(["month"]).count()
# grp3 = grp.groupby(["month"]).sum()
# avg_nd= grp3/grp2
# avg_nd = pd.DataFrame(avg_nd)
# avg_nd.reset_index(inplace=True)
# avg_nd['month']=pd.to_datetime(avg_nd['month'],format="%m")
# avg_nd['month']=avg_nd['month'].dt.month_name()
grp

In [ ]:
sns.set_theme(style="whitegrid")
sns.barplot(data=avg_nd,x=avg_nd["month"],y=avg_nd['demand_national'])
plt.xticks(rotation=45)
plt.ylabel("National Energy Demand (MW)")
plt.xlabel("Months")
plt.title("Avg. Monthly National Demand - Peaks in Jan")

In [ ]:

grp1 = df.groupby(['year','month'])["demand_national"].count()
grp2 = df.groupby(['year','month'])["demand_national"].sum()
grp3 = grp2/grp1
grp3=grp3.unstack()
hm1 = sns.heatmap(grp3, linewidths=.5,cmap="YlGnBu")
plt.xticks(rotation=45)
display(hm1)